
.depicter-2-element-37 .depicter-bullet-item{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius:3px 3px 3px 3px ;
	width:15px;
	height:6px;
}
.depicter-2-element-37 .depicter-bullet-item.depicter-bullet-active{
	background-color:#000;
}
.depicter-2-element-37 .depicter-bullets-wrapper{
	gap:5px;
	flex-direction:row;
}
.depicter-revert .depicter-2-element-27{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-26{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-2{
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-2-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-2-element-29{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-28{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-4{
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-2-section-3 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-2-element-25{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-24{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-6{
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-2-section-5 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-2-element-23{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-21{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-7 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-2-element-35{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-19{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-section-9 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-2-element-39{
	font-size:23px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-38{
	font-size:1px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-31{
	font-size:34px;
	color:#000;
	font-family:"Open Sans";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-2-element-13{
	box-shadow:10px 10px 25px 0px #000;
}
.depicter-revert .depicter-2-section-11 .depicter-section-background{
	background-color:#FFF;
}

