.elementor-18 .elementor-element.elementor-element-e3d5516{--display:flex;--min-height:100vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-053dd6b{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-7eba8ef .elementor-heading-title{color:#000000;font-family:"Roboto", Sans-serif;font-size:70px;font-weight:700;}.elementor-18 .elementor-element.elementor-element-240209c{color:#000000;}.elementor-18 .elementor-element.elementor-element-25ab1d3 > .elementor-widget-container{margin:-25px 0px 15px 0px;}.elementor-18 .elementor-element.elementor-element-25ab1d3 .elementor-button{font-family:"Roboto", Sans-serif;font-size:18px;font-weight:700;fill:#000000;color:#000000;background-color:#61CE7000;padding:0px 0px 0px 0px;}.elementor-18 .elementor-element.elementor-element-5286e28{width:auto;max-width:auto;}.elementor-18 .elementor-element.elementor-element-5286e28 .elementor-button{font-family:"Roboto", Sans-serif;font-size:35px;font-weight:500;fill:#000000;color:#000000;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;padding:0px 12px 6px 12px;}.elementor-18 .elementor-element.elementor-element-5286e28 .elementor-button:hover, .elementor-18 .elementor-element.elementor-element-5286e28 .elementor-button:focus{color:#FFFFFF;background-color:#000000;border-color:#000000;}.elementor-18 .elementor-element.elementor-element-5286e28 .elementor-button:hover svg, .elementor-18 .elementor-element.elementor-element-5286e28 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-51fc38d{width:auto;max-width:auto;}.elementor-18 .elementor-element.elementor-element-51fc38d .elementor-button{font-family:"Roboto", Sans-serif;font-size:35px;font-weight:500;fill:#000000;color:#000000;background-color:#61CE7000;border-style:solid;border-width:2px 2px 2px 2px;padding:0px 12px 6px 12px;}.elementor-18 .elementor-element.elementor-element-51fc38d .elementor-button:hover, .elementor-18 .elementor-element.elementor-element-51fc38d .elementor-button:focus{color:#FFFFFF;background-color:#000000;border-color:#000000;}.elementor-18 .elementor-element.elementor-element-51fc38d .elementor-button:hover svg, .elementor-18 .elementor-element.elementor-element-51fc38d .elementor-button:focus svg{fill:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-cd83685{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:50px;--margin-right:0px;}.elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-arrows-yes .elementor-main-swiper{width:calc( 500px - 40px );}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-main-swiper{width:500px;}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-main-swiper .swiper-slide{padding:30px 30px 30px 30px;}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-swiper-button{font-size:20px;}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__text{color:#FFFFFF;}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__name{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:25px;font-weight:700;}.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__title{color:#FFFFFF;}body.rtl .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body.rtl .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_above.elementor-testimonial--align-left .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-left:0px;margin-right:0;}body:not(.rtl) .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body:not(.rtl) .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_above.elementor-testimonial--align-right .elementor-testimonial__image + cite,
					 body.rtl .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_inline .elementor-testimonial__image + cite,
					 body.rtl .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_above .elementor-testimonial__image + cite{margin-right:0px;margin-left:0;}.elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_stacked .elementor-testimonial__image + cite,
					 .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_left .elementor-testimonial__image + cite,
					 .elementor-18 .elementor-element.elementor-element-eb7e2a8.elementor-testimonial--layout-image_right .elementor-testimonial__image + cite{margin-top:0px;}@media(min-width:768px){.elementor-18 .elementor-element.elementor-element-053dd6b{--width:32%;}.elementor-18 .elementor-element.elementor-element-cd83685{--width:50%;}}/* Start custom CSS for testimonial-carousel, class: .elementor-element-eb7e2a8 */.elementor-18 .elementor-element.elementor-element-eb7e2a8{
    --radius: 25px;
    --height: 700px;
    --overlay: 0.75;
}

.elementor-18 .elementor-element.elementor-element-eb7e2a8 .swiper-slide{
    display: flex;
    align-items: flex-end;
    border-radius: var(--radius);
    height: var(--height);
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .swiper-slide:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,var(--overlay)) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
    
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__footer{
    display: block;
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__cite{
    z-index: 2;
    position: relative;
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-testimonial__name{
    margin-bottom: 10px;
}
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-swiper-button-prev,
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-swiper-button-next{
    display: none;
}


@media (max-width: 1024px){
.elementor-18 .elementor-element.elementor-element-eb7e2a8{
    --height: 370px;
}
}
@media (max-width: 767px){
.elementor-18 .elementor-element.elementor-element-eb7e2a8 .elementor-main-swiper{
    width: 100% !important;
}
}/* End custom CSS */