.elementor-18 .elementor-element.elementor-element-76cb1be{--display:flex;--min-height:200vh;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-76cb1be:not(.elementor-motion-effects-element-type-background), .elementor-18 .elementor-element.elementor-element-76cb1be > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-18 .elementor-element.elementor-element-76cb1be, .elementor-18 .elementor-element.elementor-element-76cb1be::before{--border-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-a18b846{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-d3ead3b{--display:flex;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-db173b0{--display:flex;--justify-content:center;--background-transition:0.3s;--padding-top:0%;--padding-bottom:0%;--padding-left:4%;--padding-right:4%;}.elementor-18 .elementor-element.elementor-element-9b304d0{--display:flex;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-3be667b .elementor-heading-title{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:64px;font-weight:700;line-height:1.15em;}.elementor-18 .elementor-element.elementor-element-18c0258{--display:flex;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-613878f{color:#FFFFFF;font-family:"Roboto", Sans-serif;font-size:18px;font-weight:400;text-shadow:0px 0px 15px rgba(0, 0, 0, 0.43);}.elementor-18 .elementor-element.elementor-element-df4663c{--display:flex;--background-transition:0.3s;--margin-top:-15px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-18 .elementor-element.elementor-element-0f01a1b .elementor-button{background-color:#4D9DBB;border-radius:0px 0px 0px 0px;padding:15px 30px 15px 30px;}.elementor-18 .elementor-element.elementor-element-26d961e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-18 .elementor-element.elementor-element-0d374b3.elementor-arrows-yes .elementor-main-swiper{width:calc( 1200px - 40px );}.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-main-swiper{width:1200px;}.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-swiper-button{font-size:20px;}@media(min-width:768px){.elementor-18 .elementor-element.elementor-element-a18b846{--width:50%;}.elementor-18 .elementor-element.elementor-element-d3ead3b{--width:30px;}.elementor-18 .elementor-element.elementor-element-26d961e{--width:50%;}}/* Start custom CSS for testimonial-carousel, class: .elementor-element-0d374b3 */.elementor-18 .elementor-element.elementor-element-0d374b3{
    --radius: 8px;
    --height: 320px;
    --active-height: 410px;
    --overlay: 0.75;
}
.elementor-18 .elementor-element.elementor-element-0d374b3{
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-in-out;
}
.elementor-18 .elementor-element.elementor-element-0d374b3.loaded{
    opacity: 1;
    transform: translateX(0);
}

.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-wrapper{
    height: var(--active-height);
    align-items: center;
}
.elementor-18 .elementor-element.elementor-element-0d374b3:not(.loaded) .swiper-wrapper{
    transition-duration: 0s !important;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-slide{
    display: flex;
    align-items: flex-end;
    border-radius: var(--radius);
    height: var(--height);
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
}
.elementor-18 .elementor-element.elementor-element-0d374b3.loaded .swiper-slide{
    transition: all 0.3s ease-in-out 0.2s;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-slide.swiper-slide-active{
    height: var(--active-height);
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-slide:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(20deg, rgba(0,0,0,var(--overlay)) 0%, rgba(0,0,0,0) 100%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-testimonial__footer{
    display: block;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-testimonial__cite{
    z-index: 2;
    position: relative;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-testimonial__name{
    margin-bottom: 5px;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-pagination,
.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-swiper-button{
    display: none;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .swiper-container{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px){
.elementor-18 .elementor-element.elementor-element-0d374b3{
    --height: 180px;
    --active-height: 250px;
}
}
@media (max-width: 767px){
.elementor-18 .elementor-element.elementor-element-0d374b3{
    --height: 80px;
    --active-height: 105px;
    width: 100% !important;
    max-width: var(--container-widget-width, 300px) !important;
}
.elementor-18 .elementor-element.elementor-element-0d374b3 .elementor-testimonial__cite{
    opacity: 0;
}
}/* End custom CSS */